*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8B4513;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fdd777;
    min-height: 100%;
          
}

section{
    text-align: center;
    padding: 30px 30px;
    
}

header{
    text-align: center;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    background-position: center;
    animation: slider 19s linear 2s infinite;
    
}
@keyframes slider{
    0%{
        background-image:url(images.jpg) ;
        background-size: 100% 100%;
    }
    25%{
        background-image: url(download\ \(2\).jpg);
        background-size: 100% 100%;
    }
    50%{
        background-image:url(images\ \(3\).jpg) ;
        background-size: 100% 100%;
    }
    75%{
        background-image:url(unnamed\ \(1\).jpg) ;
        background-size: 100% 100%;
    }
    100%{
        background-image: url(images\ \(1\).jpg);
        background-size: 100% 100%;
    }
}

header p{
    color: #DAA520;
}

header h1  {
    
   margin: 0px 0 10px;
   margin-bottom: 20px;
   padding-top: 40px;
    
}

.hero-section {
    margin-bottom: 10px;
}


.list{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    background-color: #582c0c;
    padding: 10px;
    border-top:1px solid #dd650e;
    border-bottom: 1px solid #dd650e;
    
}

nav>.list{
    list-style: none;
    font-weight: bold;
       
}

nav>.list a {
    text-decoration: none;
    color: #ffd15c;

      
}
.box-div{
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
    font-size: 1.1rem;

}
.backgrwuond {
    background-color: #582c0c;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-bottom: 10px;
   border-bottom: #ffa768 1.2px solid;
   border-top: #ffa768 1.2px solid;
   border-left: #ffa768 1.2px solid ;
   border-right: #ffa768 1.2px solid;
    
}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 90px;
    margin-left: 350px;
    width: 600px;
    
}
.city{
    text-align: center;
    margin-bottom: 60px;
}
.grid {
    background-color: #dd650e;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
    transition: all 0.4s ease;
}
.grid img {
    width: calc(70%);
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
   

}
.grid:hover{
    transform: scale(1.08);
    box-shadow: 0 0px 10px rgba(245, 212, 153, 0.3);
}

.grid h3 {
   margin-bottom: 30px;
    color: #582c0c;
}
.card-container{
    flex-wrap: wrap;
    
    margin-right: 50px;
    margin-left: 50px;  
    border-radius: 50px;
    box-sizing: border-box;
    color: black;
   
}
.card-container{
    background-image: url(images\ \(4\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.card{
    
    bottom: 100px;
    width: 600px;
    height: 350px;
}
.card {
 
    text-align: left;
    margin: 0 auto;
    max-width: 500px;
    position: relative;
    right: 400px;
    line-height: 25px;
    padding: 100px;
    /* padding-bottom: 2px; */
    font-size: 20px;
    
    
}
.card img{
    /* max-width: 100%; */
    position: relative;
    left: 600px;
    bottom: 150px;
    width:500px;
    padding-bottom: 90px;
    box-sizing: border-box;
   
    
}

.cardh1{
    padding-top: 50px;
}
.card-quote{
    position: relative;
    max-width: 200px;
    right: 300px;
    bottom:90px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 auto;
    font-size: 20px;
 
    
}


hr {
    width: 1000px ;
    height: 1px;
    background: linear-gradient(to right , transparent, #dd650e, transparent);
    border: none;
    margin: 50px auto;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.line{
     width: 50px ;
    height: 1px;
    background: linear-gradient(to right , transparent, #f38722, transparent);
    border: none;
    margin: 50px auto;
}

.finaly{
     text-align: left;
    margin: 0 auto;
    max-width: 100px;
}
.contact li a{
    text-decoration: none;
}
.span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 30px 0;
}
.line{
   width: 200px;
   height: 2px;
   background: #d6b27c;
   border: none;
   margin: 20px auto;
   
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background: #8B4513;
      
    
}


.footer-box{
    width: 80%;
    text-align: center;
    height: 30px;
 
    
    
    
}

.footer-box img {
    width:30% ;
    height: 30px ;
    object-fit: cover;
    border-radius: 8px;
    
    
}
.btn-contact {
    background-color: #582c0c;
    width: 250px;
    height: 50px;
    display: inline-block;
    padding-top: 0;
    border-radius: 10px;
   border-bottom: #ffa768 1.2px solid;
   border-top: #ffa768 1.2px solid;
   border-left: #ffa768 1.2px solid ;
   border-right: #ffa768 1.2px solid;
   padding-top: 12px;
   margin-top: 10px;
   margin-bottom: 90px;
   transition: all 0.5s ease-in;
     
}
.btn-contact:hover{
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(221, 221, 218, 0.8);
}

.btn {
    text-decoration: none;
    font-weight: bold;
    color: #fdd777;

   
}



.picture{
 text-align: left;
    margin: 0 auto;
    max-width:120px;
}
.para {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
     
}


 .contact{
    text-align: left;
    margin: 0 auto;
    max-width: 100px;
}
.contact-page{
    background-color: #ca5806;
    min-height: 100vh;
    padding: 0 auto;
    box-sizing: border-box;
    
     
}

.submit{
    margin-top: 100px;
    margin-bottom: 50px;
    margin: 60px;
}

 .contact-wrapper {
    max-width: 500px;
    margin:0 auto;
    padding: 30px;
    background-color: #dbb987;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
    font-size: 20px;
    color: #582c0c;
    
      
    
}
.display{
    

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
}
.courgette{
     
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}

h2{
    font-size: 30px;
}






